

/*trip name css*/
.trip-name1{    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #28303b;
    color:#c7f0b9;
    width:50%;
    height:7%;
    border-radius: 25px;
    margin-top: 10px;
    align-self: center;
    font-size:x-large;
}
/*days swipper css*/
.days-swipper{
    width: 90vw;
    height: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.days-swipper .swiper-slide{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vw!important;
    height: 80%;
    
    font-size: large;
    border-radius: 12px;
    margin: 0 20px;
    cursor: pointer;
}
.days-swipper .swiper-slide-active{
    width: 10vw;
}
.days-swipper .swiper-wrapper{
    width: 90vw!important;
    margin: 0 auto;
}
.days-swipper .swiper-button-prev {
    position: fixed;
    left: 2%;
    top: 33%!important;
    width: 20px;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32.737' height='30.266' viewBox='0 0 32.737 30.266'%3E%3Cg id='Group_2208' data-name='Group 2208' transform='matrix(-1, -0.017, 0.017, -1, 3573.403, 1399.636)' opacity='0.996'%3E%3Cpath id='Path_1276' data-name='Path 1276' d='M3570.43,1307.564l6.57,14.649-6.57,14.649' transform='translate(19.22 0)' fill='none' stroke='%23c5ffbb' stroke-miterlimit='10' stroke-width='1'/%3E%3Cpath id='Path_1277' data-name='Path 1277' d='M3565,1307.564l6.57,14.649-6.57,14.649' transform='translate(0 0)' fill='none' stroke='%23c5ffbb' stroke-miterlimit='10' stroke-width='1'/%3E%3Cpath id='Path_7898' data-name='Path 7898' d='M3570.43,1307.564l6.57,14.649-6.57,14.649' transform='translate(7.22 0)' fill='none' stroke='%23c5ffbb' stroke-miterlimit='10' stroke-width='1'/%3E%3C/g%3E%3C/svg%3E");
}
.days-swipper .swiper-button-next {
    position: fixed;
    top: 33%;
    right: 2%;
    width: 20px;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32.224' height='29.708' viewBox='0 0 32.224 29.708'%3E%3Cg id='Group_2207' data-name='Group 2207' transform='translate(-3564.544 -1307.359)' opacity='0.996'%3E%3Cpath id='Path_1276' data-name='Path 1276' d='M3570.43,1307.564l6.57,14.649-6.57,14.649' transform='translate(19.22 0)' fill='none' stroke='%23c5ffbb' stroke-miterlimit='10' stroke-width='1'/%3E%3Cpath id='Path_1277' data-name='Path 1277' d='M3565,1307.564l6.57,14.649-6.57,14.649' transform='translate(0 0)' fill='none' stroke='%23c5ffbb' stroke-miterlimit='10' stroke-width='1'/%3E%3Cpath id='Path_7898' data-name='Path 7898' d='M3570.43,1307.564l6.57,14.649-6.57,14.649' transform='translate(7.22 0)' fill='none' stroke='%23c5ffbb' stroke-miterlimit='10' stroke-width='1'/%3E%3C/g%3E%3C/svg%3E");
}
.days-swipper .swiper-slide .day{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #28303b;
    color: #c7f0b9;
    border-radius: 12px;
}
.days-swipper .swiper-slide .day .light-orange-color{
    color: #dbbda9;
    
}
.days-swipper  .swiper-button-next::after {
    display: none;
}

.days-swipper .swiper-button-prev::after {
    display: none;
}
.days-swipper .swiper-slide .btn-pink{
    background-color: #e9bebd;
    color: #28303b;
}
.save-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    position: fixed;
    bottom: 15%;
    right: 10%;
    background-color:#dbbda9;
    border-radius: 60%;

    font-size: x-large;
    color: #28303b;
    cursor: pointer;
    z-index: 999;
}
/*selected day swipper css*/
.selected-day-swipper{
    width: 70vw;
    height: 45%;
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 40%;
    left: 15%;
}
.selected-day-swipper .swiper-slide{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%!important;
    font-size: large;
    cursor: pointer;
    overflow: hidden;
    

}
.selected-day-swipper .swiper-slide-active{
    z-index: 2;
    transform: scale(1.3) !important;
}

.selected-day-swipper .swiper-slide img{
    object-fit: cover !important;
    width: 90%;
    position: relative;
}
.selected-day-swipper .swiper-slide .place-info{
    position: absolute;
    left: 25%;
    width: 50%;
    height: 60%;
    background: rgba(32, 47, 64, 0.65);
    display: none;
    justify-content: center;
    align-items: center;
    text-align: start;
    font-size: small;
    flex-direction: column;
    padding: 10px;
}
.selected-day-swipper .swiper-slide .place-info h3{
    font-size: large;
    font-weight: bold;
}
.selected-day-swipper .swiper-slide .place-info p{
    font-size: smaller;
}
.selected-day-swipper .swiper-slide-active .place-info-show{
display: flex;
justify-content: center;
align-items: center;
}
.days-swipper .swiper-slide-active img{
    object-fit: cover !important;
    width: 100%;
}
.selected-day-swipper .swiper-button-next{
    margin-right: 10px;
    width: 20px;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32.224' height='29.708' viewBox='0 0 32.224 29.708'%3E%3Cg id='Group_2207' data-name='Group 2207' transform='translate(-3564.544 -1307.359)' opacity='0.996'%3E%3Cpath id='Path_1276' data-name='Path 1276' d='M3570.43,1307.564l6.57,14.649-6.57,14.649' transform='translate(19.22 0)' fill='none' stroke='%23c5ffbb' stroke-miterlimit='10' stroke-width='1'/%3E%3Cpath id='Path_1277' data-name='Path 1277' d='M3565,1307.564l6.57,14.649-6.57,14.649' transform='translate(0 0)' fill='none' stroke='%23c5ffbb' stroke-miterlimit='10' stroke-width='1'/%3E%3Cpath id='Path_7898' data-name='Path 7898' d='M3570.43,1307.564l6.57,14.649-6.57,14.649' transform='translate(7.22 0)' fill='none' stroke='%23c5ffbb' stroke-miterlimit='10' stroke-width='1'/%3E%3C/g%3E%3C/svg%3E");
}
.selected-day-swipper .swiper-button-prev
{
    margin-left: 10px;
    width: 20px;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32.737' height='30.266' viewBox='0 0 32.737 30.266'%3E%3Cg id='Group_2208' data-name='Group 2208' transform='matrix(-1, -0.017, 0.017, -1, 3573.403, 1399.636)' opacity='0.996'%3E%3Cpath id='Path_1276' data-name='Path 1276' d='M3570.43,1307.564l6.57,14.649-6.57,14.649' transform='translate(19.22 0)' fill='none' stroke='%23c5ffbb' stroke-miterlimit='10' stroke-width='1'/%3E%3Cpath id='Path_1277' data-name='Path 1277' d='M3565,1307.564l6.57,14.649-6.57,14.649' transform='translate(0 0)' fill='none' stroke='%23c5ffbb' stroke-miterlimit='10' stroke-width='1'/%3E%3Cpath id='Path_7898' data-name='Path 7898' d='M3570.43,1307.564l6.57,14.649-6.57,14.649' transform='translate(7.22 0)' fill='none' stroke='%23c5ffbb' stroke-miterlimit='10' stroke-width='1'/%3E%3C/g%3E%3C/svg%3E");
}
.selected-day-swipper .swiper-button-next::after {
    display: none;
}
.selected-day-swipper .swiper-button-prev::after {
    display: none;
}
/*single image swipper css*/
.single{
    width:60vw;
    left: 20%;
}

.single .swiper-slide-active{
    transform: scale(1) !important;
}
    .single img{
    width: 100%;
    height: 100%;
}
.single .swiper-button-next{
    margin-right:35px;
}
.single .swiper-button-prev{
    margin-left:35px;
}
/*topbar css*/
.trip-plan-top-bar{
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}
.trip-plan-menu{

    background-color:#dca;
    width: 35px;
    height:35px;
    position: absolute;
    top: 20%;
    right:20%;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
/*trip plan menu modal css*/
.trip-plan-menu-modal{
    width: 70%;
    height: 60%;
    background-color:#1d2531;
    display: none;
    transition: display 0.5s ease-in-out;
    z-index: 1000;
}
.outer{
    position: fixed;
    top: 0;
    left: 0;
    
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.8);
    z-index: 1000;
}
.menu-modal-show{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: display 0.5s ease-in-out;
    position: relative;
    
}
.menu-content{
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items:space-around;
    flex-direction: column;
    
}
.div1,.div2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}
.country-info-menu-icon,.covid-info-menu-icon,.bucket-list-menu-icon,.check-list-menu-icon{
cursor: pointer;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
.covid-info-menu-icon h1,.country-info-menu-icon h1{
    width: 50px;
    height: 50px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #000;
    font-size: x-large;
    font-weight: bold;
    background-color: #f2e8da
}
/* close menu modal css*/
.close-menu-modal{
    position: absolute;
    top: -40px;
    right: 30px;
    cursor: pointer;
    background-color:#1d2531;
    border-radius: 12px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.close-menu-modal .close-icon{
    width: 30px;
    height: 30px;
    background-color: #c7f0b9;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;

}
/*menu data modal css*/
.menu-data-modal{
    position: relative;
    width: 25%;
    height: 30%;
    background-color:#28303b;
    display: none;
    transition: display 0.5s ease-in-out;
    border-radius: 12px;
    z-index: 10000;

}
.menu-data-modal-show{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    transition: display 0.5s ease-in-out;
    overflow-y: auto;
    
}
.menu-data-modal .close-icon{
    width: 30px;
    height: 30px;
    background-color: #c7f0b9;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    cursor: pointer;
    position: absolute;
    top: 0px;
    right: 0;

    
}
.menu-data-modal .data{
    width: 70%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c7f0b9;
    border-radius: 25px;
    color: #000;
    cursor: pointer;
}
/*update duration modal css*/
.update-duration-modal{
    position: relative;
    width: 35%;
    height: 40%;
    background-color:#28303b;
    color: #c7f0b9;
    display: none;
    transition: display 0.5s ease-in-out;
    border-radius: 12px;
    z-index: 10000;
}
.update-duration-modal-show{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    flex-direction: column;
    transition: display 0.5s ease-in-out;
}
.update-duration-modal .close-icon{
    width: 30px;
    height: 30px;
    background-color: #c7f0b9;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    cursor: pointer;
    position: absolute;
    top: 0px;
    right: 0;
}
.update-duration-modal .update-duration-btns{
    width: 70%;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #000;
    cursor: pointer;
}
.update-duration-modal .update-duration-btns .btn{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c7f0b9;
    border-radius: 25px;
}
@media screen and (max-width: 768px) {
    .trip-name1{
        width: 80%;
    }
    .days-swipper .swiper-slide{
        width: 20vw!important;
    }
    .days-swipper .swiper-slide-active{
        width: 20vw;
    }
    .days-swipper .swiper-button-prev {
        left: 0%;
        top: 33%!important;
    }
    .days-swipper .swiper-button-next {
        right: 0%;
        top: 33%;
    }
    .selected-day-swipper{
        width: 100vw!important;
        height: 40vh!important;
        display: flex;
        align-self: center;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 40%;
        left: 0%;
    }
    .selected-day-swipper .swiper-slide{
        height: 40vh!important;
    }
    .selected-day-swipper .swiper-slide img{
        object-fit: cover !important;
        width: 100%!important;
        height: 80%!important;
    }
    .selected-day-swipper .swiper-slide .place-info{
        width:70%;
        left: 15%;
    }
    .selected-day-swipper .swiper-slide-active{
        transform: scale(1.3) !important;

    }
    .selected-day-swipper .swiper-button-next{
    display: none;
    }
    .selected-day-swipper .swiper-button-prev{
    display: none;
    }
    .trip-plan-top-bar{
    height: 25px;
    }
    .trip-plan-menu{
    right: 15%;
    height: 28px;
    width: 28px;
    }
    .menu-data-modal{
    width:70%;
    height: 40%;
    }
    .update-duration-modal{
    width: 80%;
    height: 40%;
    }
    .update-duration-modal .update-duration-btns{
    width: 100%;
    }
}

.calendar {
    align-self: center !important;
}
.datepicker {
    display: none;
}
.flatpickr-calendar.inline {
    align-self: center;
    background-color: transparent;
}
.flatpickr-day {
    font-size: 15px;
    height: 29px;
    line-height: 29px;
    color: #dbbda9 !important;
}
.nextMonthDay {
    opacity: 0.35;
}
.prevMonthDay {
    opacity: 0.35;
}
.flatpickr-month {
    color: #dbbda9 !important;
}
.flatpickr-weekday {
    color: #dbbda9 !important;
}
.color-dots {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.datecolordot {
    height: 8px;
    width: 8px;
    border-radius: 100%;
    border: 0.2px solid white;
}